extends layout

block content
  h1= title
  p Welcome to #{title}

  h2 Topic: #[a(href="/domain/#{topic}") #{topic}] area: #{area} game page

  - var dd = {name: 'Drag And Drop', link: 'dd'};
  - var cs = {name: 'Complete a sentence', link: 'cs'};
  - var mc = {name: 'Multiple Choice', link: 'mc'};

  div
  each gameType in [dd,cs,mc]
    div(class="topic-button")
        a(href="/game/#{topic}/#{area}/#{gameType.link}") #{gameType.name}
