extends layout

block content
    h1= title
    p Welcome to #{productName}, where you can have fun learning to use collocations, words that are commonly used together.
    h2 QuickStart
    p Try a #[a(href="/game/sports/activities/mc") multiple choice question]  now, or explore the different topics below.
    div
    h2 Topics available
    - var scores = {"scoresInGames":[{"name": "sports", "score": 50, "maxscore": 100},{"name": "health", "score": 90, "maxscore":100}, {"name": "travel", "score": 10, "maxscore":100}, {"name": "money", "score": 70, "maxscore":100}]}
    each topic in scores.scoresInGames
        div
            div(class="topic-button")
                a(href="/domain/#{topic.name}") #{topic.name}
                <br><progress value="#{topic.score}" max="#{topic.maxscore}">
