doctype html
html
- var companyName = 'Collo Kate Ltd';
- var productName = 'ColloDex';
- var copyrightYear = 2015
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(id="header")
      a(href="/") 
        img(src="/images/collocations-logo.png" id="main-logo" height="80")
      #siteTitle #{productName}
      div(id="header-links") 
        ul        
          li 
            a(href="/") Home 

          li 
            a(href="/about") About 
          li Help
          li FAQ
          li |
          li #[a(href="/my_account") My account]
          li Log out 
    div(id="mainContent")     
    block content
    footer #{productName} &copy; #{copyrightYear} #[a(href="/about ") #{companyName}]
    
