extends layout

block content
  style(type='text/css').
    .question {
      font-size: 18pt;
    }
    .wordChoiceBox {
      font-size: 18pt;
      display: inline;
      margin-left: 4px;
      margin-right: 4px;
    }
    .choiceButton {
      display: inline;
      font-size: 18pt;
      margin-left: 4px;
      margin-right: 4px;
    }
    .stateText{
      font-size: 30pt;
    }

  h1 Multiple choice quizz
  h2 Topic: #{topic} - Area: #{area}

  if (success != null)
    if success
      p(class='stateText') Well done!
    else
     p(class='stateText') Sorry, try again!

  form(action='',method='post')
    p Select the right answer
    div(class='question')
      span #{test.beginning}
      div(id='choices', class='wordChoiceBox')
        each choice in test.choices
          input(type='submit', name='answer', class='choiceButton', value=choice)
      span #{test.end}
      input(type='hidden', name='testId', value=test.id)
