extends layout

block content
  style(type='text/css').
    .question {
      font-size: 18pt;
    }
    .wordChoiceBox {
      font-size: 18pt;
      display: none;
      margin-left: 4px;
      margin-right: 4px;
    }
    #showChoicesButton {
      height: 25px;
      width: 50px;
      margin: 5px;
      margin-bottom: 7px;
      vertical-align: middle;
    }
    .choiceButton {
      display: flow;
      font-size: 18pt;
      margin-left: 4px;
      margin-right: 4px;
    }
    .stateText{
      font-size: 30pt;
    }
    
    .correct {
    	color: green;
    }
    
    .incorrect {
    	color: red;
    }

  script.
    var showWordChoices = function() {
      var s = document.getElementById("choices").style
      if (s.display === "inline") {
        s.display = "none";
      } else {
        s.display = "inline";
      }
    }

  h1 Multiple choice quiz
  h2 Topic: #{topic} - Area: #{area}

  if (success != null)
    if success
      p(class='stateText correct') Well done!
      p Well done, #[strong.correct #{givenAnswer}] is correct!
    else
     p(class='stateText incorrect') Sorry, try again!
     p Sorry, #[strong.incorrect #{givenAnswer}] is not correct!

  form(action='',method='post')
    p Select the right answer
    div(class='question')
      span #{test.beginning}
      button(type='button', onclick="showWordChoices()", id='showChoicesButton') ...
      div(id='choices', class='wordChoiceBox')
        each choice in test.choices
          input(type='submit', name='answer', class='choiceButton', value=choice)
      span #{test.end}
      input(type='hidden', name='testId', value=test.id)
      input(type='hidden', name='baseWord', value=test.baseWord)
      input(type='hidden', name='collocationReversed', value=test.collocationReversed ? "true" : "false")
